table {
    text-align: center;
    border: solid 2px;
    border-radius: 10px;
}

table td {
    padding: 20px;
  }
  
  
  
  
  

  table tr:nth-child(-n+3) {
    background-color: lightgray;
    color: green;
  }

  table tr:nth-child(-n+2) {
    background-color: white;
    color: black;
  } 

  
  

  table tr:nth-child(-n+1) {
    background-color: darkgreen; 
    color: lightgreen;}