.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
}
.links{
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}
.logo{
    width:50%;
}
a{
    text-decoration: none;
    color: black;
}
.box1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    height: 500px;
}
.text1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
}
.input1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    
}
.button1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    
}
.image1{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    
}
.image1 img{
    width: 100%;
    height: 100%;
}
.button1 button{
    background-color: darkcyan;
    color: white;
    width: 50%;
}
button{
    border: none;
    border: solid 2px black;
    border-radius: 10px;
    height: 25px;
    transition: 0.3s ease;
}
button:hover{
    transform: scale(1.1);
}
.input input{
    border: solid 1px black;
    border-radius: 10%;
    width: 200px;
}
input{
    text-align: center;
    border: none;
    width: 300px;
    height: 25px;
    border: solid 2px #f2f2f2;
    border-radius: 10px;
    background-color: #f2f2f2;
    transition: 0.3s ease;
}
input:hover{
    border: solid 2px blue;
}
.box2{
    margin-top: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    width: 100%;
}
.text2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.image2{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.profile{
    border: solid transparent;
    border-radius: 15px;
    background-color: lightblue;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#profile{
    display: flex;
    flex-direction: row;
}
img{
    border-radius: 10px;
}
.image2 img{
    width: 100%;
    height: 100%;
}





.footer1{
    background-color: #55568C;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
}
.footer1text{
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.footer1input{
    padding: 20px;
    grid-column-start: 3;
    grid-column-end: 5;
}
.footer1input input{
    width: 100%;
}
.footer1button{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

@media screen and (max-width: 700px){
    .links{
        margin-left: 10%;
        width: 200px;
    }
    
}

@media screen and (max-width: 500px){
    .box1{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .image1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .text1{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .input{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .button1{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .box2{
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        grid-template-columns: 1fr;
    }
    .image2{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    } 
    .text2{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .profile{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .footer1{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
    }
    .footer1text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .footer1input{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .footer1button{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .footer1button button {
        width: 95%;
    }
}
