body{
    background-color: darkcyan;
    text-align: center;
}
button{
    border: none;
    width: 150px;
    height: 30px;
    transition: 0.3s ease;
    margin: 10px;
}
button:hover{
    background-color: lightgray;
    transform: scale(1.05);
}
button:active{
    background-color: lightgray;
    transform: scale(0.95);
}
input{
    height: 30px;
    width: 200px;
    margin: 10px;
}
#form{
    margin-top: 200px;
}
h1{
    margin-top: 100px;
}
