.body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    margin-top: 200px;
  }



#pass_input{
    border: none;
    border: solid 2px gray;
    width: 300px;
    border-radius: 5px;
    height: 20px;
    transition: 0.3s ease;
}
#pass_input:hover{
    border: solid 2px darkslategray;
}
#pass_input:focus{
    border: solid 2px blue;
    outline: none;
}
#pass_label:hover ~ #pass_input{
    border: solid 2px darkslategray;
}




.hints{
    color: red;
}
#message{
    font-size: 30px;
    text-align: center;
}